<template>
    <div>
        <div class="ruTys__38ry">
            <div class="top33___rt5 d-flex justify-content-between">
                <div class="d-flex stTY5__sasy">
                    <h6>Index 1</h6>
                    <span class="post__tag">Politics</span>
                </div>
                <div class="report__drawer d-flex align-items-center">
                    <fa-icon icon="flag" class="flag__icon"></fa-icon>
                    <span class="pl-2">Report</span>
                </div>
            </div>
            <hr>
            <div class="ct4__bdy">
                <p class="mb-0">
                    The collapse of the online-advertising market in 2001 made marketing on the Internet seem even less compelling. Website usability, press releases.It is probably the dream of any amateur astronomer to be able to be the boss of one of the great multi million dollar telescopes even if it was just.
                </p>
            </div>
            <div class="gp3h__ftr4 d-flex justify-content-end">
                <eye-icon size="1.5x" class="icon__eye"></eye-icon>
                <span>View previous post</span>
            </div>
        </div>
        <div class="ruTys__38ry">
            <div class="top33___rt5 d-flex justify-content-between">
                <div class="d-flex stTY5__sasy">
                    <h6>Index 2</h6>
                    <span class="post__tag">Politics</span>
                </div>
                <div class="report__drawer d-flex align-items-center">
                    <fa-icon icon="flag" class="flag__icon"></fa-icon>
                    <span class="pl-2">Report</span>
                </div>
            </div>
            <hr>
            <div class="ct4__bdy">
                <p class="mb-0">
                    The collapse of the online-advertising market in 2001 made marketing on the Internet seem even less compelling. Website usability, press releases.It is probably the dream of any amateur astronomer to be able to be the boss of one of the great multi million dollar telescopes even if it was just.
                </p>
                <img src="images/image.png" alt="" class="has__image">
            </div>
            <div class="gp3h__ftr4 d-flex justify-content-end">
                <eye-icon size="1.5x" class="icon__eye"></eye-icon>
                <span>View previous post</span>
            </div>
        </div>
        <div class="ruTys__38ry">
            <div class="top33___rt5 d-flex justify-content-between">
                <div class="d-flex stTY5__sasy">
                    <h6>Index 3</h6>
                    <span class="post__tag">Politics</span>
                </div>
                <div class="report__drawer d-flex align-items-center">
                    <fa-icon icon="flag" class="flag__icon"></fa-icon>
                    <span class="pl-2">Report</span>
                </div>
            </div>
            <hr>
            <div class="ct4__bdy">
                <div class="d-lg-flex d-block">
                    <div class="mb-0 pr-lg-4 pr-0">
                        <p>The collapse of the online-advertising market in 2001 made marketing on the Internet seem even less compelling. Website usability, press releases.It is probably the dream of any amateur astronomer to be able to be the boss of one of the great multi million dollar telescopes even if it was just.</p>
                        <p>
                            <a href="" class="article__link" target="_blank">im.hyetfdtuayyctsgctvia.com</a>
                        </p>
                    </div>
                    <img src="images/image.png" alt="" class="article__image mt-lg-0 mt-4">
                </div>
            </div>
            <div class="gp3h__ftr4 d-flex justify-content-end align-items-centerg">
                <eye-icon size="1.5x" class="icon__eye"></eye-icon>
                <span>View previous post</span>
            </div>
        </div>
    </div>
</template>

<script>
import { EyeIcon } from 'vue-feather-icons'
    export default {
        components: {
            EyeIcon
        },
    }
</script>

<style scoped>
.article__link{
    color: #3995C9;
    text-decoration: none;
}
.ruTys__38ry{
    background: #fff;
    padding: 35px;
    align-items: center;
    margin-bottom: 2em;
}
.post__tag{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 8px;
    background: #EBEAEA;
    border-radius: 4px;
    font-weight: 600;
    color: #9A9A9A;
    font-size: 14px;
    margin-left: 24px;
}
h6{
    font-size: 22px;
    color: #464545;
}
hr {
    margin: 3em 0;
}
.ct4__bdy p{
    color: #878787;
}
.report__drawer{
    color: #CACACA;
    cursor: pointer;
}
.gp3h__ftr4{
    padding-top: 16px;
    font-weight: 600;
    cursor: pointer;
}
.icon__eye{
    color: #242424;
}
.gp3h__ftr4 span{
    color: #242424;
    margin-left: 10px;
}
.has__image{
    width: 100%;
    height: auto;
    margin-top: 1em;
}
.article__image{
    width: 157px;
    height: 120px;
}
@media(max-width:992px) {
    .article__image{
        width: 100%;
        height: auto;
    }
}
@media(max-width:600px) {
    hr {
        margin: 1em 0;
    }
    .ct4__bdy p{
        font-size: 16px;
    }
    h6{
        font-size: 17px;
    }
    .stTY5__sasy{
        align-items: flex-end;
    }
    .report__drawer{
        font-size: 90%;
    }
    .post__tag {
        font-size: 12px;
        font-weight: 700pc;
        margin-left: 18px;
    }
    .top33___rt5{
        padding: 20px 20px 0px 20px;
    }
    .ct4__bdy{
        padding: 0px 20px 20px 20px;
    }
    .ruTys__38ry{
        padding: 0;
    }
    .gp3h__ftr4{
        padding-bottom: 20px;
        padding-right: 20px;
    }
    .icon__eye{
        font-size: 80%;
    }
    .gp3h__ftr4 span{
        font-size: 90%;
    }
    
}
</style>