<template>
    <div>
        <h6 class="title">Filter by:</h6>
        <div class="tags">
            <span class="tag__link active">Politics</span>
            <span class="tag__link">Tech</span>
            <span class="tag__link">Sports</span>
            <span class="tag__link">Science</span>
            <span class="tag__link">Entertainment</span>
            <span class="tag__link">Cryptocurrency</span>
            <span class="tag__link">Fashion</span>
        </div>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped>
.title{
    color: #464545;
    font-size: 18px;
    margin-bottom: 10px;
}
.tags{
    display: flex;
    flex-wrap: wrap;
}
.tag__link {
    font-size: 15px;
    text-decoration: none;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px 25px;
    color: #8199A3;
    transition: all 300ms ease-in-out;
    margin-bottom: 20px;
    margin-right: 1em;
    border: 1px solid #D9DBDB;
    text-transform: capitalize;
    font-weight: 700;
    color: #6C6C64;
    cursor: pointer;
}
.tag__link.active{
    background: #000;
    color: #fff;
}
.tag__link:hover{
    background: #D9DBDB;
}
@media(max-width:600px) {
    .tag__link {
        padding: 7px 19px;
    }
    .tags{ 
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
}
</style>