:root{
    --green: #71DB9B;
}

body{
    background: #F4F6F7;
    font-family: 'Mulish', sans-serif;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    padding-top: 130px;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0em;
}
.text-green{
    color: var(--green);
}
.busting__btn{
    height: 43px;
    width: 120px;
    border-radius: 3px;
    padding: 10px;
    outline: none;
    border: 1px solid transparent;
    line-height: 1.2;
    text-align: center;
    user-select: none;
    font-size: 1rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    display: inline-block;
}
.btn-black{
    background: #000;
    color: #fff;
}
.btn-black:hover{
    text-decoration: none;
    background: rgb(46, 45, 45);
    border: 1px solid rgb(46, 45, 45);
    color: #fff;
}

@media (min-width: 1440px) {
    .container__xl {
        max-width: 1440px;
    }
}
