<template>
    <div>
        <AppHeader />
        <nuxt />
    </div>
</template>

<script>
import AppHeader from '../components/partials/Header.vue'
    export default {
        components: {
            AppHeader
        }
    }
</script>

<style lang="scss" scoped>

</style>