<template>
    <div class="container">
        <filter-component />

        <div class="mt-lg-5 mt-3">
            <post-component />
        </div>
        <div class="py-5"></div>
    </div>
</template>

<script>
import FilterComponent from '../components/filter/FilterComponent.vue'
import PostComponent from '../components/posts/PostComponent.vue'

    export default {
        layout: 'users',
        components: {
            FilterComponent,
            PostComponent
        }
    }
</script>

<style lang="scss" scoped>

</style>