<template>
    <nav :class="{'header__scrolling' : scrollPosition > 0}">
        <div class="container container__xl d-flex justify-content-between">
            <div class="desktop__search__icon__wrapper d-lg-block d-none">
                <input type="text" class="search__input__field" placeholder="Search for topics,trends">
                <search-icon size="1.5x" class="search__icon"></search-icon>
            </div>
            <div class="d-block d-lg-none"></div>
            <div class="app__logo">
                <h1>Busting<span class="text-green">Bias</span>.com</h1>
            </div>
            <div class="nav__last d-lg-flex d-none align-items-center">
                <a href="" class="busting__btn btn-black">Discuss</a>
                <div class="bnT36tr">
                    <fa-icon icon="user" class="user__icon"></fa-icon>
                    <span class="online_status online"></span>
                </div>
            </div>
            <div class="d-block d-lg-none">
                <menu-icon class="hamburger"></menu-icon>
            </div>
        </div>
    </nav>
</template>

<script>
    import { SearchIcon } from 'vue-feather-icons'
    import { UserIcon } from 'vue-feather-icons'
    import { MenuIcon } from 'vue-feather-icons'
    export default {
        components: {
            SearchIcon,
            UserIcon,
            MenuIcon
        },
        mounted() {
            window.addEventListener('scroll', this.updateScroll);
        },
        methods: {
            updateScroll() {
                this.scrollPosition = window.scrollY
            }
        },
        data() {
            return {
                scrollPosition: 0
            }
        },
    }
</script>

<style scoped>
nav{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030; 
    top: 0;
    min-height: 80px;
    background: #FFF;
    display: flex;
    align-items: center;
}
nav.header__scrolling{
    box-shadow: 0px 2px 6px rgb(97 94 94 / 10%);
    transition: 0.4s ease-in all;
    -webkit-transition: 0.4s ease-in all;
    -moz-transition: 0.4s ease-in all;
}
.desktop__search__icon__wrapper{
    position: relative;
}
.search__input__field{
    height: 40px;
    border-radius: 4px;
}
.desktop__search__icon__wrapper .search__input__field{
    width: 300px;
    border: 0px;
    background: #F7F7F7;
    outline: none;
    border: 0.5px solid #E8EDF0;
    box-sizing: border-box;
    padding-left: 50px;
    color: #8D8D8D;
    transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
}
.search__icon{
    position: absolute;
    left: 16px;
    top: 8px;
    color: #8D8D8D;
}
.user__icon{
    position: absolute;
    left: 5px;
    top: 3px;
    color: #fff;
    font-size: 19px;
}
.desktop__search__icon__wrapper .search__input__field:focus{
    border: 0.5px solid #b4b5b6;
}
.app__logo h1{
    font-weight: 900;
    font-size: 30px;
}

.bnT36tr{
    width: 32px;
    height: 32px;
    background: #E3E7E7;
    border-radius: 50%;
    border: 3px solid #E3E7E7;
    color: #ffffff;
    text-align: center;
    position: relative;
    margin-left: 2.5em;
}
.online_status{
    width: 12px;
    height: 12px;
    background: #71DB9B;
    display: block;
    border-radius: 50%;
    bottom: -4px;
    position: absolute;
    right: -6px;
}
.hamburger{
    width: 30px;
    height: 30px;
}
@media(max-width: 992px){
    .app__logo h1 {
        font-size: 24px;
    }
}
@media(max-width: 500px){
    .app__logo h1 {
        font-size: 20px;
    }
    .hamburger{
    width: 24px;
    height: 24px;
}
}
</style>